body {
    margin: 0;
}

.header {
    background-color: #4e69a2;
    height: 50px;
    display: flex;
}

.logo {
    height: 50px;
}

.input-wrapper {
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.search-bar{
    width: 300px;
    margin-bottom: 5px;
}
.social-icons{
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social-icon{
    color: white;
    margin: 5px;
}
.logo-social{
    display: flex;
    width: 20%;
    align-items: flex-end;
}
.search-wrapper{
    display: flex;
    width: 50%;
}
.facebook-logo{
    padding: 5px 15px;
    font-size: 34px;
    font-weight: bold;
    color: white;
}
.menu{
    display: flex;
    width: 30%;
    align-items: flex-end;
}
.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
}

.nav-item {
    padding: 0 23px;
    color: white;
}

.content {
    display: flex;
    height: 623px;
}

.sidebar {
    width: 20%;
    padding-top: 20px;
    background-color: white;
    border-right: 2px solid black;
}

.messages {
    width: 60%;
    /* background-color: yellow; */
}

.right-content {
    width: 20%;
    /* background-color: orange; */
}
.user-details{
    display: flex;
    align-items: center;
}
.empty-img{
    /* padding: 10px; */
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid black;
    margin: 15px 15px 15px 25px;
}
.username{
    display: block;
}
.name a{
    text-decoration: none;
}
.user-nav{
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    margin-left: 25px;
}
.user-nav-item i{
    padding: 5px 5px 5px 0;
}
.user-nav-item a{
    text-decoration: none;
}
.search-bar-friends{
    width: 73%;
    margin: 25px 0px 25px 25px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0 10px;
}
.news-title{
    display: flex;
    border-bottom: 2px solid black;
    margin: 0 15px;
}
.first-half{
    width: 50%;
    display: flex;
    align-items: center;
}
.first-half i{
    font-size: 40px;
    padding: 0 20px;
}
.second-half{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-news{
    padding: 0 10px;
    border-right: 1px solid black;
}
.most-recent{
    padding: 0 10px;
}
.news-settings{
    margin: 10px 15px;
}
.share{
    display: flex;
}
.share-text{
    padding: 5px 15px;
}
.status, .photo, .link, .video {
    padding: 5px 15px;
}
.settings-icon {
    padding: 0 5px;
}
.whats-on-your-mind{
    margin: 10px 15px;
}
.leave-message{
    width: 100%;
}
.news-wrapper {
    display: flex;
    border-bottom: 2px solid black;
    margin: 0 15px;
}
.news-content-wrapper{
    margin: 15px 15px 15px 0px;
}
.like, .comment {
    display: flex;
    background-color: cornflowerblue;
    margin: 5px 0px 5px 0;
    padding: 3px;
    color: white;
}
.news-icon{
    padding: 0 10px;
}
.events {
    margin: 80px 10px 30px 10px;
}
.events-all{
    background-color: darkgrey;
    padding: 3px 15px;
    margin: 5px 0px;
}
.see-all{
    float: right;
}
.what-planning {
    margin: 25px 0 0 0;
}
.events-planning {
    width: 98%;
}
.user-known {
    display: flex;
    align-items: center;
}
.people-u-may-know {
    margin: 0px 10px 0px 10px;
}
.sponsored {
    margin: 0px 10px 0px 10px;
}
.sponsored-add {
    height: 100px;
    width: 215px;
    border: 2px solid black;
    /* padding: 10px; */
    margin: 15px;
}